<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <div class="page__top about">
                <h1>Blog</h1>
                <h2><a href="#">Anasayfa</a> > Blog</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row blog__page">
        <div class="col-xl-9 mt-4" style="border-right: 1px solid #00000012;">
            <div class="blog__page__item border-bottom">
                <a href="#">
                    <div class="blog__page__item__text">
                        <h1 class="h1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                        <p class="blog__page__item__text__desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi,
                            itaque nostrum obcaecati explicabo
                            impedit cumque? Fugit quis excepturi sit, pariatur tempore a quidem amet provident labore molestiae
                            ratione
                            earum?
                        </p>
                        <p class="blog__page__item__text__category">
                            <i class="fa-regular fa-blog"></i> Admin kullanıcısı
                            tarafından
                            <span>24.10.2023</span> tarihinde
                            <a href="#">Plastik Askılar <i class="fa-regular fa-arrow-up-right-from-square"></i></a> kategorisi için
                            yazılmıştır.
                        </p>
                    </div>
                </a>
            </div>
            <div class="blog__page__item border-bottom mt-3">
                <div class="blog__page__item__text">
                    <h1 class="h1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi, itaque nostrum obcaecati explicabo
                        impedit cumque? Fugit quis excepturi sit, pariatur tempore a quidem amet provident labore molestiae
                        ratione
                        earum?
                    </p>
                    <p class="blog__page__item__text__category">
                        <i class="fa-regular fa-blog"></i> Admin kullanıcısı tarafından
                        <span>24.10.2023</span> tarihinde
                        <a href="#">Plastik Askılar <i class="fa-regular fa-arrow-up-right-from-square"></i></a> kategorisi için
                        yazılmıştır.
                    </p>
                </div>
            </div>
            <div class="blog__page__item border-bottom mt-3">
                <div class="blog__page__item__text">
                    <h1 class="h1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi, itaque nostrum obcaecati explicabo
                        impedit cumque? Fugit quis excepturi sit, pariatur tempore a quidem amet provident labore molestiae
                        ratione
                        earum?
                    </p>
                    <p class="blog__page__item__text__category">
                        <i class="fa-regular fa-blog"></i> Admin kullanıcısı tarafından
                        <span>24.10.2023</span> tarihinde
                        <a href="#">Plastik Askılar <i class="fa-regular fa-arrow-up-right-from-square"></i></a> kategorisi için
                        yazılmıştır.
                    </p>
                </div>
            </div>
            <div class="blog__page__item">
                <div class="blog__page__item__text mt-3">
                    <h1 class="h1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi, itaque nostrum obcaecati explicabo
                        impedit cumque? Fugit quis excepturi sit, pariatur tempore a quidem amet provident labore molestiae
                        ratione
                        earum?
                    </p>
                    <p class="blog__page__item__text__category">
                        <i class="fa-regular fa-blog"></i> Admin kullanıcısı tarafından
                        <span>24.10.2023</span> tarihinde
                        <a href="#">Plastik Askılar <i class="fa-regular fa-arrow-up-right-from-square"></i></a> kategorisi için
                        yazılmıştır.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 mt-4">
            <div class="blog__page__recent-blogs">
                <h1>Son Yazılar</h1>
                <div class="blog__page__item border-bottom">
                    <div class="blog__page__item__text">
                        <h1 class="h1 recent">Lorem ipsum dolor sit amet consectetur...</h1>
                        <p class="recent-p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi, itaque nostrum
                            obcaecati explicabo
                            impedit cumque? Fugit quis excepturi sit...
                        </p>
                        <p class="blog__page__item__text__category recent">
                            <i class="fa-regular fa-blog"></i> Admin kullanıcısı
                            tarafından
                            <span>24.10.2023</span> tarihinde
                            <a href="#">Plastik Askılar <i class="fa-regular fa-arrow-up-right-from-square"></i></a> kategorisi
                            için yazılmıştır.
                        </p>
                    </div>
                </div>
                <div class="blog__page__item mt-3">
                    <div class="blog__page__item__text">
                        <h1 class="h1 recent">Lorem ipsum dolor sit amet consectetur...</h1>
                        <p class="recent-p">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi, itaque nostrum
                            obcaecati explicabo
                            impedit cumque? Fugit quis excepturi sit...
                        </p>
                        <p class="blog__page__item__text__category recent">
                            <i class="fa-regular fa-blog"></i> Admin kullanıcısı
                            tarafından
                            <span>24.10.2023</span> tarihinde
                            <a href="#">Plastik Askılar <i class="fa-regular fa-arrow-up-right-from-square"></i></a> kategorisi
                            için yazılmıştır.
                        </p>
                    </div>
                </div>
            </div>
            <div class="blog__page__categories">
                <h1>Kategoriler</h1>
                <ul class="blog__page__categories__category">
                    <a href="#">
                    <li>Plastik Askılar (3)</li>
                    </a>
                    <a href="#">
                    <li>Elbise Askıları (2)</li>
                    </a>
                    <a href="#">
                    <li>Bebek Askıları (11)</li>
                    </a>
                    <a href="#">
                    <li>Çorap Askıları (2)</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>